<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaLanches</title>
</head>
<body>
    <h1>Cadastro de comidas</h1>
    <form method="post">
        Nome: <input type="text" value="" name="name">
        Preço: <input type="text" value="" name="preco">
        Imagem: <input type="file" value="" name="image">
        <button type="submit"> Enviar </button>
    </form>
</body>
</html>