<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaLanches</title>
</head>
<body>
    <h1>Cardápio</h1>
    <h3><a href="/addFood">Cadastrar Comida</a></h3>
    <div th:each = "food : ${foods}">
        <div class="row">
                <p><span th:text = "${food.name}"></span></p>
                <p><img th:src = "${food.image}"></p>
                <p><span th:text = "${food.price}"></span></p>
        </div>

    </div>
</body>
</html>